<h1> <%= @cocktail.name %> </h1>
<h2> Recipe </h2>
<% @cocktail.doses.each do |dose| %>
  <%= dose.description %>
  <%= dose.ingredient.name %>
  <%= link_to 'X', dose_path(dose.id), method: :delete %>
<% end %>
<%= link_to 'Edit this cocktail', new_cocktail_dose_path(@cocktail.id) %>
<%= link_to 'Back', cocktails_path %>
