<h2> <%= @cocktail.name %> </h2>
<div class="container">
<%= photo_check_tag(@cocktail) %>
<% @cocktail.doses.each do |dose| %>
  <li>
    <%= dose.description %>
    <%= dose.ingredient.name %>
    <%= link_to 'X', dose_path(dose.id), method: :delete %>
  </li>
<% end %>
<p>Average rating: <% review_average(@cocktail.reviews).times do %>
  <%= 'â­' %>
  <% end %></p>
<%= link_to 'Edit recipe', new_cocktail_dose_path(@cocktail.id) %>
<%= link_to 'Write a review', new_cocktail_review_path(@cocktail.id) %>
<%= link_to 'Back', root_path %>
</div>
